* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: Roboto, sans-serif;
    background-color: #BFC0C0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #BFC0C0;
    
}

ul {
    list-style: none;
    display: flex;
    gap: 8px;
}

.nav-container {
    font-size: large;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.navbar a:hover{
    color: #EA7D02;
}


.navbar a {
    color: silver;
    
}

.navbar,
.header,
.footer {
    background-color: #2B0504;
    color: silver;
    padding: 10px;
}

.header img {
    width: 550px;
    margin-bottom: 25px;
    margin-left: 15px;

    
    border-radius: 25px;
    border: solid black 3px;
}

.container {
    font-size: larger;
    margin-left: 200px;
    margin-right: 200px;
    display: flex; 
    justify-content: center; 
    gap: 10px;
}

.header button {
    margin-top: 8px;
}

.info {
    text-align: center;
    font-weight: bolder;   
    margin-left: 200px;
    margin-right: 200px;
}

.info h1 {
    font-size: xx-large;
    padding: 25px;
}

.info-container {
    margin: 10px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.quote {
    display: flex;
    justify-content: center; 
    background-color: #486235; 
    padding: 50px;
       
}

.quote h1 {
    font-weight: lighter;
    font-size: xx-large;
}

.quote p {
    text-align: end;
    font-size: larger;
    font-weight: bolder;
}

.footer {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container {
   flex: 1;
}   

.box img {
    width: 200px;
    border-radius: 25px;
    border: solid #EA7D02 3px;
    
    
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sign-up-container {
    border-radius: 25px;
    background-color: #EA7D02;
    color: silver;
    margin: 45px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    font-size: medium;
    border-radius: 15px;
    background-color: #EA7D02;
    color: silver;
    padding: 15px;
    border: solid silver 2px;
}

.footer h1 {
    font-size: medium;
    color: #BFC0C0;
}

.footer  a:hover {
    color: #EA7D02;
}


