* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: #BFC0C0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    gap: 8px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}

.navbar a {
    color: silver;
}

.navbar,
.header,
.footer {
    background-color: #2B0504;
    color: silver;
    padding: 10px;
}

.header img {
    width: 700px;
    border-radius: 25px;
    border: solid black 3px;
}

.container {
    display: flex; 
    justify-content: center; 
}

.info-container {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    display: flex;
    justify-content: center; 
    background-color: #486235; 
    padding: 10px;    
}

.footer {
    padding: 15px;
    display: flex;
}

.flex-container {
   flex: 1;
    
}

.box img {
    width: 200px;
    border-radius: 25px;
    border: solid #EA7D02 3px;
    
    
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sign-up-container {
    border-radius: 25px;
    background-color: #EA7D02;
    color: silver;
    margin: 15px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    border-radius: 25px;
    background-color: #EA7D02;
    color: black;
    padding: 10px;
}



