* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    gap: 8px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    
}

.navbar a {
    color: white;
}

.navbar,
.header {
    background-color: #1f2937;
    color: white;
}

.container {
    display: flex;
}